@inherits LayoutComponentBase

<PageTitle>InfinityStoreAdmin.BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <div class="row mt-5">
                <div class="col-10 mx-auto">
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>
